@import "breakpoints";

.portfolio-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;

  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 2rem;
  }
  p {
    font-weight: 260;
    font-size: 0.8rem;
  }

  .content-grid {
    flex: auto;
  }

  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      font-weight: 300;
      font-size: 0.5rem;
      padding: 0.5rem 0;
    }

    @include breakpoint-small-down {
      flex-direction: column;
      align-items: center;
    }
  }
}
