@import 'breakpoints';

.Wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.Wrapper > div {
  height: 100%;
}

.LeftContent3 {
  background-color: #f7484e;
  padding: 7%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  background-color: white;
  overflow: auto;
  //height: 100%;
  float: right;
  width: 60%;
  //padding: 7%;
  /* margin-left: 10px; */
}
.cabout {
  // position: absolute;
  // top: 50%;
  // //left: 25%;
  // width: 30%;
  width: 100%;
}

.portfolio-page {
  // padding-top: 2rem;
  min-height: 100vh;
  // display: flex;
  // flex: 0 1 auto;
  // flex-direction: column;
  // justify-content: center;

  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 2rem;
  }
  p {
    font-weight: 260;
    font-size: 0.8rem;
  }

  .content-grid {
    flex: auto;
  }

  .portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      font-weight: 300;
      font-size: 0.5rem;
      padding: 0.5rem 0;
    }

    @include breakpoint-small-down {
      flex-direction: column;
      align-items: center;
    }
  }
}
