.card.resume-card {
  min-width: 250px;
  background-color: #f5f5f5;
}
.card.resume-card:hover {
  background-color: #e4e4e4;
  transform: scale(1.1);
  transition: transform 1s, filter 1s ease-in-out;
}
.card {
  overflow: hidden;
  background-color: var(--swatch_bdfdaccd);
}
._2-column-grid.resume-grid {
  gap: 50px 50px;
  margin: 30px;
}
._2-column-grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.image.resume-social-logo {
  margin-right: 12px;
  margin-left: 20px;
  width: 150px;
  padding-bottom: 12px;
}
img {
  display: inline-block;
  max-width: 100%;
}
.timeline-item-title {
  color: rgb(82, 80, 80);
  text-align: left;
}

.timeline-item-date {
  color: rgb(110, 110, 110);
  text-align: left;
}

.timeline-item-header {
  flex-direction: row;
}

@media (max-width: 1000px) {
  .timeline-item-header {
    flex-direction: column;
  }
  .timeline-item-date {
    text-align: center;
  }
  .timeline-description {
    text-align: center;
  }
}

@media (max-width: 800px) {
  ._2-column-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  ._2-column-grid.resume-grid {
    margin: 0px;
  }
}

.main {
  position: relative;
  z-index: 2;
  background: #f56469;
  height: 1500px;
  margin-bottom: 350px;
  box-shadow: 3px 2px 2px 0px rgba(51, 51, 51, 0.5);
}
