.portfolio-page {
  display: flex;
  flex-direction: row;
}

.portfolio-container {
  width: 40%;
  height: 100vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.portfolio-title {
  text-align: left;
  padding-left: 30px;
}

.image-container {
  min-height: 100vh;
  min-width: 300px;
  max-width: 800px;

  overflow: hidden;
  margin: 60px;
}

.portfolio-item {
  height: 90vh;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
}

.technologies-wrapper {
  flex-wrap: wrap;
  min-width: 90%;
}

@media (max-width: 800px) {
  .portfolio-page {
    flex-direction: column;
  }
  .portfolio-container {
    width: 100vw;
    height: 80vh;
    position: initial;
  }
  .portfolio-title {
    text-align: center;
    padding-left: 0px;
  }
  .image-container {
    margin: 30px;
  }
}
.project-title {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.project-dscription {
  font-size: 15px;
}

@media (min-width: 1500px) {
  .project-title {
    margin-top: 50px;
    font-size: 30px;
  }
  .project-dscription {
    font-size: 20px;
  }
  .portfolio-title {
    padding-left: 50px;
  }
}
