.contact-page {
  /* position: relative; */
  background-image: url("/images/10.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: top;
  background-size: 200px;
}

.main {
  position: relative;
  height: 1100px;
  margin-bottom: 350px;
  box-shadow: 3px 2px 2px 0px rgba(51, 51, 51, 0.5);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 350px;
  padding-left: 50px;
  background: black;
  font-size: 100px;
  color: white;
}
