@import "breakpoints";

.skills-page {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: white;

  @include breakpoint-small-down {
    padding-top: 3rem;
  }

  h1 {
    padding: 1rem 0;
    font-size: 2rem;
    font-family: "Reem Kufi", sans-serif;
  }

  .content-grid {
    flex: auto;
  }

  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-content: center;

    .skills-content {
      font-size: 0.875rem;
      line-height: 1.5rem;

      @include breakpoint-small-down {
        font-size: 1rem;
      }

      p {
        font-weight: 200;
        padding: 0.5rem 0;
      }

      .text-emoji {
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
      }
      .title {
        font-family: "Roboto";
        font-size: 2rem;
      }
      .sub-title {
        font-size: 1rem;
        font-weight: 200;

        @include breakpoint-small-down {
          font-size: 1.25rem;
        }
      }
      .skills {
        margin-top: 2em;
        .title {
          text-align: center;
          p {
            font-size: 0.9em;
          }
        }
      }
      .little-title {
        font-size: 0.8rem;
        font-weight: 200;

        @include breakpoint-small-down {
          font-size: 1.25rem;
        }
      }
      > .tagline {
        font-size: 1.35rem;
        padding-top: 1rem;
        font-weight: 300;

        @include breakpoint-small-down {
          font-size: 1.25rem;
        }
      }
      > .intro-name {
        font-family: "Reem Kufi", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        line-height: 4rem;

        @include breakpoint-small-down {
          font-size: 3rem;
          line-height: 3.5rem;
        }
      }
    }
  }
}
