@import 'breakpoints';

.container {
  position: relative;
}
.container img {
  display: block;
  width: 100%;
}

[class*='counter'] span {
  position: absolute;
}

.main-title {
  position: absolute;
  margin: 1rem 0;
  top: 23%;
  left: 33%;
  font-family: 'Reem Kufi', sans-serif;
  width: 100%;
  font-size: 5vw;
  font-weight: 500;
  line-height: 4rem;
}

.tagline {
  position: absolute;
  top: 35%;
  left: 38%;
  font-weight: 100;
  font-size: 2vw;
  width: 100%;
  margin: 1.5rem 0;

  @include breakpoint-medium-down {
    width: 30%;
    left: 39%;
  }
}

.icons {
  position: absolute;
  top: 41%;
  left: 37%;
  margin: 1rem 0;

  @include breakpoint-medium-down {
    left: 34%;
  }
}

.scroll {
  position: absolute;
  top: 81%;
  left: 47%;
}

.landing-page {
  flex: 0 1 auto;
  background-color: white;
}
