.about-page {
  display: flex;
  flex-direction: row;
}

.about-container {
  width: 40%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/about2.jpg");
  background-size: 100% 100% 100% 100%;
  background-repeat: no-repeat;
}

.about-content {
  width: 60%;
}

h1 {
  font-size: 6vw;
}
